@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext");

$main-color: #3da9db;
$default-font: arial, sans-serif;
$special-font: "pt sans", "roboto", arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: $main-color;
  font-family: $default-font;
  color: white;
}

.wrapper {
  //kontener
  display: flex;
  flex-wrap: wrap;
  //pozycja
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  //wygląd
  font-size: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #000;
}

.logo {
  background-color: rgb(143, 66, 66);
  flex-basis: 200px;
  height: 80px;
}
.search {
  background-color: rgb(94, 212, 119);
  flex-grow: 1;
}

.settings {
  background-color: rgb(21, 70, 51);
  padding: 0 50px;
}

.menu {
  background-color: rgb(155, 63, 117);
  flex-basis: 100%;
}

.main-articles {
  background-color: rgb(228, 111, 212);
  flex-basis: 100%;
  min-height: 50vh;
}

.article-list {
  flex-basis: 100%;
  background-color: rgb(85, 63, 63);
}

.footer {
  flex-basis: 100%;
  background-color: rgb(94, 119, 204);
}
